<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/javascripts/script.js"></script>
  </head>
  <body>
    <section>
      <h2> A vincular </h2>
      <p>
        En este ejercicio debemos vincular el archivo script.js con el archivo index.html.
        TIP: En script.js vas a encontrar un console.log(). Esto es una práctica común que nos sirve para verificar de una manera sencilla que vinculamos con éxito nuestro archivo.        
      </p>
      <p>-------------------------------------------</p>
      <article>
        <div>
          <p>&lt;index.html &gt;</p>
        </div>

        <div>
          <p>&lt;!DOCTYPE html &gt;</p>
        </div>

        <div>
          <p>&lt;html&gt;</p>
        </div>

        <div>
          <p>&lt;head&gt;</p>
        </div>

        <div> 
          <p>&nbsp;&nbsp;&nbsp;&lt;meta charset="UTF-8" &gt;</p>
        </div>

        <div>
          <p>&nbsp;&nbsp;&nbsp;&lt;title&gt;JS Front&lt;/title &gt;</p>
        </div>

        <div>
          <p>&lt;/head&gt;</p>
        </div>

        <div>
          <p>&lt;body&gt;</p>
        </div>

        <div>
          <p>&nbsp;&nbsp;&nbsp;&lt;p&gt;Podés abrir la consola del navegador para chequear los result;ados&lt;/p &gt;</p>
        </div>

        <div>
          <p>&lt;/body&gt;</p>
        </div>

        <div>
          <p>&lt;/html&gt;</p>
        </div>

      </article>

      <article>
        <p>-------------------------------------------</p>
        <div>&lt;script.js&gt;</div>
        <br>
        <div>console.log('¡Archivo vinculado con éxito!');</div>
        <p>-------------------------------------------</p>
      </article>

    </section>
  </body>
</html>
