<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>3 - Ejes</title>
</head>
<body>
    <h1>3 - Ejes</h1>
    
    <article>
        <a href="/reordenando-texto">
            <h2>Reordenando un texto</h2>
        </a>
        
        <h3>¡Cortázar nos prestó una gran frase! Pero... no estamos del todo conformes con cómo se ve en el navegador.El sitio, de momento, se ve así:</h3>

        <img src="/images/navegador.png" alt="navegador">
        
        <p>Queremos jugar un poco con el significado del texto y lograr que se lea de abajo hacia arriba.</p>
        <p> Para eso tenemos que convertir el < div> con clase "frase-cortazar" en un contenedor flex y asignarle la regla necesaria para cambiar la dirección de la frase, para que empiece a leerse desde abajo.</p>
    </article>

    <article>
        <a href="/reordenando-frase">
            <h2>Reordenando otra frase</h2>
        </a>
        
        <h3>Afrontemos otro desafío!</h3>
            
        <p>Teníamos pensado mostrar una frase clásica en el navegador. Ya tenemos algunas reglas de CSS declaradas, pero la estructura HTML quedó al revés. Nuestro trabajo será invertir el orden de la frase para que se lea correctamente, asignándole una nueva regla de CSS a la clase "frase".</p>

        <h3>Dejamos una imagen de cómo se ve el sitio de momento:</h3>
        <img src="/images/navegador2.png" alt="navegador">
    </article>

    <article>
        <a href="/estilizando-elementos">
            <h2>Estilizando elementos de forma horizontal</h2>
        </a>

        <h3>¡Pero que viva el fútbol!</h3>
        <p>Nos piden armar una maqueta del sitio para la Superliga Argentina. Por ahora, tenemos una barra de navegación y un logo en el index.html, pero sin mucho diseño. Queremos estilizarla para que todos los elementos estén en una misma línea horizontal.</p>
        <h3>El sitio, de momento, se ve así:</h3>
        <img src="/images/navegador3.png" alt="navegador">
    </article>


</body>
</html>