<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reordenando-texto.css">
    <title>Reordenando un texto</title>
</head>
<body>
    
    <h1>Reordenando un texto</h1>
    
    <div class="frase-cortazar">
        <div class="parte-1">"Las escaleras</div>
        <div class="parte-2">se suben de frente,</div>
        <div class="parte-3">pues hacia atrás</div>
        <div class="parte-4">o de costado</div>
        <div class="parte-5">resultan particularmente</div>
        <div class="parte-5">incómodas."</div>
    </div>

    <a href="/">
        <button>Volver</button>
    </a>
</body>
</html>