<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/javascripts/scriptE2.js"></script>
  </head>
  <body class="e2">
    <div class="container">
      <h1>¡Bienvenidos/as al sitio!</h1>
      <form action="" method="POST">
        <label>Nombre:</label>
        <input type="text" id="nombre">
        <span id="name"></span>
  
        <label>Password:</label>
        <input type="password" id="password">
        <span id="pass"></span>
  
        <input type="submit" value="Enviar">
      </form>
    </div>
  </body>  
</html>
