<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mas-campos-de-texto.css">
    <title>Más campos de texto</title>
</head>
<body>
    
    <h1>Más campos de texto</h1>

    <form action="resultado.html" method="POST">
        <p>
            <label for="nombre">Ingrese su nombre:</label>
            <input type="text" id="nombre" name="nombre">
        </p>

        <p>
            <label for="email">Ingrese su E-Mail:</label>
            <input type="email" id="email" name="email">
        </p>

        <p>
            <label for="password">Ingrese su Contraseña:</label>
            <input type="password" id="password" name="password">
        </p>

    </form>

    <a href="/">
        <button>Volver</button>
    </a>
</body>
</html>