*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #33b;
  text-decoration: none;
}

img{
  width: 100%;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px 0;
}

nav{
  width: 100%;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

figure{
  width: 20%;
}

.titulo{
  text-align: center;
}

h1{
  text-transform: uppercase;
}

ul{
  list-style: none;
}

section.botones{
  display: flex;
  justify-content: space-between;
  width: 220px;
  align-items: center;
  margin: 0
}

.botonAgregar , .botonModificar, .botonBorrar, .botonVolver{
  color: white;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
}

.botonModificar{
  background-color: goldenrod;
}

.botonBorrar{
  background-color: red;
  border: none;
}

.botonVolver{
  background-color: #00B7FF;
}

.formulario{
  margin: auto;
  width: 20%;
}
