*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
img{
  width: 100%;
}
figure{
  width: 20%;
}
.titulo{
  text-align: center;
}

section.botones{
  display: flex;
  justify-content: space-between;
  width: 150px;
  align-items: center;
  margin: 0
}

.botonAgregar , .botonModificar, .botonBorrar, .botonVolver{
  color: white;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
}

.botonModificar{
  background-color: goldenrod;
}

.botonBorrar{
  background-color: red;
  border: none;
}

.botonVolver{
  background-color: #00B7FF;
}

.formulario{
  margin: auto;
  width: 20%;
}
