<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/javascripts/scriptE1.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>¡Bienvenidos/as al sitio!</h1>
    </div>
  </body>
</html>
