<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/javascripts/scriptE2.js"></script>
  </head>
  <body class="e2">
    <div class="container">
      <h1 class="titulo">¡Bienvenidos/as al sitio!</h1>
      <nav>
          <a href="www.facebook.com">Facebook</a>
          <a href="www.instagram.com">Instagram</a>
          <a href="www.twitter.com">Twitter</a>
      </nav>
    </div>
  </body>  
</html>
