<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/javascripts/scriptE3.js"></script>
  </head>
  <body class="e2">
    <form action="" method="POST">
      <label>Nombre:</label>
      <input type="text">

      <label>Password:</label>
      <input type="password">

      <input type="submit" value="Enviar">
    </form>
  </body>  
</html>
