<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/javascripts/scriptE1.js"></script>
  </head>
  <body>
    <section>
      <h1>Clase 40 - Pedidos asincrónicos con JavaScript</h1>
      <h2>6 - Hacia la clase en vivo</h2>
    </section>
    <section>
      <a href="/1">Ejercicio 1</a>
    <h3>¡Saludando a nuestros visitantes!</h3>
    <p>Nos gustaría personalizar un mensaje de bienvenida en nuestra página web.</p>
    <p>Queremos que en la etiqueta <strong>(&lt;h2&gt;)</strong> se cargue el siguiente texto: "Hola visitante", si es que no hay información del visitante en el almacenamiento local del navegador. O que, en vez de la palabra “visitante”, se muestre el nombre de la persona que está en el almacenamiento local.</p>
    <p>Para esto, dentro del almacenamiento local del navegador, nos indican que debemos preguntar por la propiedad "user" que es la que guarda el nombre de la persona</p>      
    </section>
    <section>
      <article>
        <p>----------------------------------------------------------------------------------------------------------------------------------------</p>
        <h2>Mensaje de bienvenida</h2>
        <h3 id="greetings">  </h3>
        <p>----------------------------------------------------------------------------------------------------------------------------------------</p>
      </article>
    </section>
  </body>
</html>