<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/javascripts/scriptE2.js"></script>
  </head>
  <body class="e2">
    <section>
      <h1>Clase 40 - Pedidos asincrónicos con JavaScript</h1>
      <h2>Session storage y local storage</h2>
    </section>
    <section>
      <h3>Session storage</h3>
        <p>Nos piden que creemos en sessionStorage un item con el nombre "bgColor" con el valor "red" para que desde otro script puedan cambiar el color del body. Además, nos piden que eliminemos el item "font".</p>
    </section>
  </body>  
</html>
