<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/4.css' />
    <script src="/javascripts/scriptE4.js"></script>
  </head>
  <body class="e2">
    <div class="container">
      <form id="miForm">
          <label>Formulario</label>
          <input id="nombre" type="text">
          <button>Enviar</button>
      </form>
      <h1>Formulario enviado!</h1>
  </body>  
</html>
