<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div>
      <h1>Clase 40 - Pedidos asincrónicos con JavaScript</h1>
      <h2>6 - Hacia la clase en vivo</h2>
    </div>
    <ul>
      <li>
        <a href="/1">Ejercicio 1</a>
        <h3>¡Saludando a nuestros visitantes!</h3>
        <p>Nos gustaría personalizar un mensaje de bienvenida en nuestra página web.</p>
        <p>Queremos que en la etiqueta <strong>(&lt;h2&gt;)</strong> se cargue el siguiente texto: "Hola visitante", si es que no hay información del visitante en el almacenamiento local del navegador. O que, en vez de la palabra “visitante”, se muestre el nombre de la persona que está en el almacenamiento local.</p>
        <p>Para esto, dentro del almacenamiento local del navegador, nos indican que debemos preguntar por la propiedad "user" que es la que guarda el nombre de la persona</p>
      </li>
      <li>
        <a href="/2">Ejercicio 2</a>
        <h3>Recordando a la persona que nos visita</h3>
        <p>La anterior funcionalidad quedó excelente, pero ahora queremos darle la oportunidad a la persona que nos visita de que sea ella quien almacene sus datos.</p>
        <p>Para ello dispusimos de un botón en nuestro documento que, al hacerle clic, deberá guardar la información del usuario, la cual está almacenada en una variable llamada userInfo (que es un objeto literal) dentro del almacenamiento local, en una propiedad llamada user.</p>
        <p>Pero ATENCIÓN, la información solamente deberá ser guardada en el escenario donde NO EXISTA.</p>
      </li>
    </ul>
  </body>
  <script>
    localStorage.setItem('id', 'identiicadorN°67');
  </script>
</html>
