<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/3.css' />
    <script src="/javascripts/scriptE3.js"></script>
  </head>
  <body class="e2">
    <div class="container">
      <h1>¡Bienvenidos/as al sitio!</h1>
      <input id="miInput" type="text">
    </div>
  </body>  
</html>
