<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div>
      <h1>Clase 40 - Pedidos asincrónicos con JavaScript</h1>
      <h2>Session storage y local storage</h2>
    </div>
    <ul>
      <li>
        <a href="/1">Ejercicio 1</a>
        <h3>Local storage</h3>
        <p>Tenemos que capturar el item de local storage con el nombre "id", que sabemos se creó en otro script desarrollado por un compañero, e imprimirlo en el <strong>(&lt;h3&gt;)</strong> con id "idValue".</p>
        <p>Para eso vamos a tener que: </p>
        <ol>
          <li>
            Guardar el valor del item "id" en la variable "id".
          </li>
          <li>
            Capturar, en la variable idValue, el <strong>(&lt;h3&gt;)</strong> con id idValue.
          </li>
          <li>
            Asignarle al texto del <strong>(&lt;h3&gt;)</strong> el valor de la variable id.
          </li>
        </ol>
      </li>
      <li>
        <a href="/2">Ejercicio 2</a>
        <h3>Session storage</h3>
        <p>Nos piden que creemos en sessionStorage un item con el nombre "bgColor" con el valor "red" para que desde otro script puedan cambiar el color del body. Además, nos piden que eliminemos el item "font".</p>
      </li>
    </ul>
  </body>
  <script>
    localStorage.setItem('id', 'identiicadorN°67');
  </script>
</html>
