<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sessions</title>
</head>
<body>
    <p><%= (locals && locals.idioma ? "El idioma seleccionado es " + locals.idioma :"No hay un idioma seleccionado" ) %></p>
    <p><%= (locals && locals.admin ? "T" : "No T" )  %>iene privilegios de administrador</p>
    <!-- <p>< % = (locals && locals.ultimoAcceso ? "El último acceso fue: " + cookie.ultimoAcceso : "" )  % ></p> -->
</body>
<a href="/"><button>Volver</button></a>
</html>