<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/javascripts/scriptE1.js"></script>
  </head>
  <body>
    <h1>Clase 38 - Agregando interacción con eventos</h1>
    <h3>No nos gusta la letra "x"</h3>
  </body>
</html>
