<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/javascripts/scriptE2.js"></script>
  </head>
  <body class="e2">
    <h1>Evitemos que esto se desenlace!</h1>
    <div>
        <a href="https://www.digitalhouse.com/">Ir al link</a>
    </div>
  </body>  
</html>
