<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div>
      <h1>Clase 38 - Agregando interacción con eventos</h1>
      <h3>Hacia la clase en vivo</h3>
    </div>
    <ul>
      <li>
        <a href="/1">Ejercicio 1</a>
        <h3>No nos gusta la letra "x"</h3>
          <p>Tenemos un documento HTML dentro del cual no queremos permitir que una persona presione la tecla "x". Y, si esto sucediera, nos gustaría que el <strong>(&lt;body&gt;)</strong> cambie el color de fondo de blanco a naranja.
          </p>
      </li>
      <li>
        <a href="/2">Ejercicio 2</a>
        <h3>¡Evitemos que esto se desenlace!</h3>
          <p>Tenemos un enlace <strong>(&lt;a&gt;)</strong> dentro del HTML que en su atributo href tiene una URL a la que no queremos acceder. Por lo tanto, queremos que al dar clic sobre ese enlace evitemos ir a dicha URL y que, además, se cambie el color del texto de negro a rojo. Ah, y también queremos que el texto del enlace diga: "este enlace no te llevará a ningún lado".
          </p>          
      </li>
    </ul>
  </body>
</html>
