<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/javascripts/scriptE1.js"></script>
  </head>
  <body>
    <form action="" method="POST">
      <label>Nombre de usuario:</label>
      <input type="text" id="userName">

      <label>Contraseña:</label>
      <input type="password" id="password">

      <input type="submit" value="Enviar">
    </form>
  </body>
</html>
