
*{
    box-sizing: border-box;
}

.frase{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

p{
    background-color: lightblue;
    padding: 5px;
    margin: 2px;
    border: 1px solid black;
}