body {
  padding: 5px 40px;
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  background-color: #444;
  border-radius: 8%;
  padding: 5px;
}

h1{
  color: #09f;
}

ul{
  list-style-type: none;
  margin: auto;
  padding: 0;
}

.container {
  background:#ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  text-transform: uppercase;
  color: lightslategrey;
}

.titulo-tuneado {
  font-size: 50px;
  text-transform: uppercase;
  background-color: #565656;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.container1{
  display: flex;
  height: 100vh;
  justify-content: center   
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#cont01,
#main-navbar{
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-navbar a {
margin: 30px
}

body.e2{
  background-color: paleturquoise
}

.alert-success{
  background-color: green;
  font-weight: bold;
  padding: 5px;
  border: crimson 3px solid;
  border-radius: 8px;
}

.alert-danger{
  background-color: crimson;
  font-weight: bold;
  padding: 5px;
  border: green 3px solid;
  border-radius: 8px;
}

