<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/javascripts/scriptE1.js"></script>
  </head>
  <body>
    <div class="container1">
      <h1 class="title">Clase 38 - Agregando interacción con eventos</h1>
      <h2>Ejercicio 1 - Método load</h2>  
    </div>
  </body>
</html>
