<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/javascripts/scriptE2.js"></script>
  </head>
  <body class="e2">
    <nav>
      <a class="peliculas" href="#peliculas">Películas</a>
      <a class="series" href="#series">Series</a>
      <a class="sobre-nosotros" href="#sobre-nosotros">Sobre nosotros</a>
      <a class="contacto" href="#contacto">Contacto</a>
    </nav>
  </body>  
</html>
