<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>3 - Radio button y checkboxes</title>
</head>
<body>
    <h1>3 - Radio button y checkboxes</h1>
    
    <article>
        <a href="/tiene-mascota">
            <h2>¿Tiene mascota?</h2>
        </a>

        <h3>Queremos crear un formulario para averiguar si el usuario tiene o no tiene una mascota.</h3>
        
        <p>
            Para eso, dentro del formulario ya declarado, debemos:
            <ul>
                <li>Crear un < label> con el texto "¿Tenés mascota?</li>
                <li>Agregar dos radio-button para darle la opción "Sí" y la opción "No".</li>
                <li>Configurar el atributo name="mascota" en ambos < input > para que asocie que estamos hablando del mismo campo.</li>
            </ul>
        </p>

        <h3>Atención: Para poder averiguar, luego, qué es lo que eligió el usuario, no debemos olvidarnos de agregarle el atributo value a cada < input >.</h3>

    </article>

    <article>
        <a href="/hobbies">
            <h2>Hobbies</h2>
        </a>

        <h3>Para eso, dentro del formulario ya declarado, debemos:</h3>
            
        <p>
            Queremos que exista un campo dentro del formulario para que el usuario pueda ingresar su nombre. Para eso, debemos agregar dos etiquetas dentro del formulario:

            <ul>
                <li>Crear un < label > con el texto "¿Cuáles son tus hobbies?".</li>
                <li>Crear tres etiquetas < input > de tipo checkbox con las opciones: Pescar, Correr y Yoga.</li>
                <li>Configurar el atributo name="hobby" a todos los < input > para que asocie que estamos hablando del mismo campo.</li>
            </ul>
            
        </p>

        <h3>Por último, no debemos olvidarnos de agregar el atributo value a cada < input > para poder averiguar luego qué es lo que eligió el usuario.</h3>

    </article>
</body>
</html>