<hr>
<br>
<section class="botones">
    <a class="botonAgregar" href="/<%= data.path %>/add">Agregar una Pelicula</a>
    <a class="botonVolver" href="/">Inicio</a>
</section>
<br>
<hr>
<br>
<h1><%= data.title %> </h1>    
<br>
