<br>
<section class="botones-listado" >
    <a class="botonVolver" href="/">Inicio</a>
    <a class="botonAgregar" href="/movies/add">Agregar una Pelicula</a>
    <a class="botonModificar" href="/movies/new">Peliculas más nuevas</a>
    <a class="botonBorrar" href="/movies/recommended">Peliculas recomendadas</a>
</section>
<br>