<hr>
<br>
<section class="botones">
    <a class="botonModificar" href="/movies/edit/<%= movie.id %>">Modificar</a>
    <a class="botonBorrar" href="/movies/delete/<%= movie.id %>">Borrar</a>
</section>
<br>
<hr>