<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>5 - Items</title>
</head>
<body>
    <h1>5 - Items</h1>
    
    <article>
        <a href="/ordenando-homero">
            <h2>Ordenando la evolución de Homero</h2>
        </a>
        
        <h3>¡Esta imagen no tiene sentido!</h3>
        <h3>Tenemos un sitio que, de momento, se ve así:</h3>

        <img src="/images/navegador.png" alt="navegador">
        
        <p>Como podemos observar, en la estructura HTML quedó la imagen de HomeroSapien arriba de todo. Necesitamos, utilizando una regla de CSS, asignarle un nuevo orden a la imagen con clase "sapiens-5" para que la misma pase a ocupar el último lugar y se ordene la secuencia evolutiva de Homeros.</p>
    </article>

    <article>
        <a href="/ordenando-imagenes">
            <h2>Ordenando imágenes</h2>
        </a>
        
        <h3>Contamos con un sitio que muestra la siguiente secuencia de imágenes:</h3>

        <img src="/images/navegador2.png" alt="navegador">    

        <p>Queremos, usando la regla order, ubicar a la tabla de surf adelante de todo. ¿Qué valor tenemos que asignarle?</p>
    </article>

</body>
</html>