<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ordenando-imagenes.css">
    <title>Ordenando imágenes</title>
</head>
<body>
    
    <h1>Ordenando imágenes</h1>
    
    <div class="surf-en-el-mar">
        <img class="tiburon" src="https://i.imgur.com/RGqQuPS.png">
        <img class="piedra" src="https://i.imgur.com/sf76emp.png"> 
        <img class="tabla" src="https://i.imgur.com/k4qubEK.png">
    </div>
    
    <br>

    <a href="/">
        <button>Volver</button>
    </a>
</body>
</html>