<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ordenando-homero.css">
    <title>Disponiendo UL's</title>
</head>
<body>
    
    <h1>Ordenando la evolución de Homero</h1>
    
    <div class="homero-sapiens">

        <img class="sapiens-5" src="https://i.imgur.com/f891qhc.jpg">

        <img class="sapiens-1" src="https://i.imgur.com/ogxb6OU.jpg">

        <img class="sapiens-2" src="https://i.imgur.com/Egt5qy7.jpg">

        <img class="sapiens-3" src="https://i.imgur.com/iwkd7AX.jpg">

        <img class="sapiens-4" src="https://i.imgur.com/glXlrug.jpg">
        
    </div>
    <br>

    <a href="/">
        <button>Volver</button>
    </a>
</body>
</html>