<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilizando-el-sitio.css">
    <title>Estilizando el sitio</title>
</head>
<body>
    <h1>Estilizando el sitio</h1>

    <header>Maquetación de sitios webs</header>

    <section>HTML + CSS + JS</section>

    <footer>No dudes en contactarnos</footer>
    
    <br>
    
    <a href="/">
        <button>Volver</button>
    </a>
</body>
</html>