<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>2 - Introducción a CSS</title>
</head>
<body>
    <h1>2 - Introducción a CSS</h1>
    
    <article>
        <a href="/modelando-cajas">
            <h2>Modelando cajas</h2>
        </a>
        
        <h3>Para este ejercicio contamos con una pequeña estructura HTML definida con dos etiquetas < div ></h3>
        
        <p>Nuestro trabajo será agregarles a estas cajas propiedades de CSS que solo entiendan los elementos de bloque. Estas son las características que deberán tener:

            <ul>
                <li>Ancho fijo de 100px</li>
                <li>Borde sólido rojo de 1px</li>
                <li>Padding de 5px</li>
                <li>Margen de 10px</li>
            </ul>

        Por último, queremos que el ancho final de cada < div> sea de 100px incluyendo el borde. ¿Con qué propiedad podemos configurar eso?</p>
    </article>

    <article>
        <a href="/estilizando-el-sitio">
            <h2>Estilizando el sitio</h2>
        </a>
        
        <h3>Para este ejercicio contamos con una pequeña estructura ya creada en el index.html. Esta está formada por un < header>, una < section> y por último un < footer>. ¡Nuestro trabajo será estilizar el sitio!</h3>
            
        <p>Estas son las características que queremos que tenga cada uno de esos elementos:

            Para el < header>:

            <ul>
                <li>Color de fondo "lightseagreen"</li>
                <li>Tipografía blanca</li>
                <li>Tamaño de fuente: 28px</li>
                <li>Un borde inferior sólido de 3px de color indigo</li>
                <li>Padding de 22px</li>
                <li>Un margen de 15px abajo, para separar el header de la sección principal</li>
                <li>Texto centrado</li>
                <li>No olvidar el box sizing</li>
            </ul>
            <br>

            Para la < section>:
            
            <ul>
                <li>Ancho del 50% de su contenedor</li>
                <li>Margen a la izquierda del 25%</li>
                <li>Color de fondo "gainsboro"</li>
                <li>Margen de 15px abajo, para separarlo del footer</li>
                <li>Padding de 12px a la izquierda</li>
                <li>Padding de 30px arriba y abajo</li>
                <li>Borde negro rayado (dashed) de 1px</li>
                <li>Probemos agregar la regla border-radius:5px para evidenciar qué hace</li>
                <li>Texto centrado</li>
                <li>No olvidar el box sizing</li>
            </ul>
            <br>

            Para el < footer>:
            
            <ul>
                <li>Color de fondo "rebeccapurple"</li>
                <li>Tipografía blanca</li>
                <li>Un borde superior sólido de 1 px de color "lightseagreen"</li>
                <li>Padding de 12px</li>
                <li>Un alto fijo de 40px</li>
                <li>Texto centrado</li>
                <li>No olvidar el box sizing</li>       
            </ul>
            <br>
            Es un ejercicio algo largo, pero vale la pena ver el resultado al que se puede llegar combinando reglas de CSS.
        </p>
    </article>

</body>
</html>