<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rutas</title>
    </head>
    <img>
        <h1>Rutas</h1>
        <h3>Mis primeras rutas</h3>
        <a href="https://www.digitalhouse.com">Digital House</a>

        <img src="https://assets.digitalhouse.com/pg/prod/logos/dh-coding-school-dark.png" alt="imagen-blend"> </img>
        
        <h3>Imágenes linkeadas</h3>

        <a href="https://google.com">
            <img src="https://bit.ly/2WDMapV" alt="Google">
            </img>
        </a>

        <h3>Listas linkeadas</h3>
        <ol>
            <li>
                <a href="https://www.facebook.com">
                    Facebook
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com">
                    Instagram
                </a>
            </li>
            <li>
                <a href="https://www.ole.com.ar">
                    Olé
                </a>
            </li>
        </ol>
        
    </body>
</html>