<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Mi segundo documento HTML</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="ejercicio">
    <article class="contenedor03">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis esse eaque est! Perspiciatis debitis quae blanditiis velit facilis distinctio obcaecati accusantium, enim itaque atque iste molestias laborum numquam, a magni!</p>
        <article class="contenedor02" >
            Soy un contenedor 2 que estaba oculto
        </article>
    </article>
    <article class="contenedor04">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis esse eaque est! Perspiciatis debitis quae blanditiis velit facilis distinctio obcaecati accusantium, enim itaque atque iste molestias laborum numquam, a magni!</p>
        <article class="contenedor02" >
            Soy un contenedor 2 que estaba oculto
        </article>
    </article>
    <br>
    <a href="/ejercicio">
        <button>
            Volver
        </button>
    </a>
</body>
</html>