<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>4 - Formularios avanzados</title>
</head>
<body>
    <h1>4 - Formularios avanzados</h1>
    
    <article>

        <a href="/seleccionando-el-mes">
            <h2>Seleccionando el mes</h2>
        </a>

        <h3>Vamos a crear un pequeño formulario con un desplegable para que el usuario pueda seleccionar el mes de su cumpleaños.</h3>
        
        <p>
            Para eso, deberemos crear una etiqueta < select > con atributo y valor name="mes". Dentro del < select >, tendremos que crear 12 etiquetas < option >, una por cada mes, aclarando en cada caso el texto que leerá el usuario: Enero, Febrero, Marzo, etc.

            No olvidemos, además, escribir el atibuto value en cada una de las etiquetas < option >. Pero ¡atención!, queremos que, como valor, ese atributo tenga el número del mes al que está representando. Por ejemplo: 1 para Enero, 2 para Febrero, y así...
        </p>

        <h3>Atención: Para poder averiguar, luego, qué es lo que eligió el usuario, no debemos olvidarnos de agregarle el atributo value a cada < input >.</h3>

    </article>

    <article>

        <a href="/escribir-comentario">
            <h2>Escribir comentario</h2>
        </a>

        <h3>Queremos saber qué opinan nuestros usuarios.</h3>
            
        <p>
            Para eso, debemos agregar, en el formulario que ya está declarado, la etiqueta que le permite al usuario escribir un comentario.

            Además, deberemos crear dos etiquetas < button>, configurando el atributo type según corresponda, para que el usuario pueda ver un botón que diga "Enviar" y otro que diga "Borrar", que al hacerle click borre lo que ya escribió.
        </p>


    </article>
</body>
</html>