<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/seleccionando-el-mes.css">
    <title>Seleccionando el mes</title>
</head>
<body>
    
    <h1>Seleccionando el mes</h1>
    
    <form action="resultado.html" method="POST">
        <label for="mes">Elegí el mes de tu cumpleaños</label>
        <select name="mes" id="mes">
            <option value="" selected>Elegí el mes</option>
            <option value="1">Enero</option>
            <option value="2">Febrero</option>
            <option value="3">Marzo</option>
            <option value="4">Abril</option>
            <option value="5">Mayo</option>
            <option value="6">Junio</option>
            <option value="7">Julio</option>
            <option value="8">Agosto</option>
            <option value="9">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
        </select>
        <input type="submit" value="Enviar">
    </form>

    <br>

    <a href="/">
        <button>Volver</button>
    </a>
</body>
</html>