<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sessions</title>
</head>
<body>
    <h2>Nuevo usuario</h2>
    <form action="/login" method="post" enctype="multipart/form-data">
        <label for="nombre">Nombre   :</label>
        <input type="text" name="nombre" id="nombre">
        <br>        
        <label for="password" >Password</label>
        <input type="password" name="password"  id="password" >
        <button type="submit">Login</button>
        <br>
    </form>
    <br>
</body>
</html>