<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/1.css' />
    <script src="/javascripts/scriptE1.js"></script>
  </head>
  <body>

    <div class="container">
      <h1>¡Bienvenidos/as al sitio!</h1>
      <label>El Nombre</label>
      <input id="nombre" type="text">
    </div>

  </body>
</html>
