<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/javascripts/scriptE2.js"></script>
  </head>
  <body class="e2">
    <div class="container">
      <h1>¡Bienvenidos/as al sitio!</h1>
      <label for="user">El Usuario</label>
      <input id="user" type="text">
    </div>
  </body>  
</html>
