<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>4 - Medidas relativas</title>
</head>
<body>
    <h1>4 - Medidas relativas</h1>
    <h2>Jugando con vh y vw</h2>
    <h3>En index.html ya tenemos configurado un sitio para que sea responsive. Es momento de empezar a jugar con las medidas vh y vw.</h3>

    <p>
        Para eso, queremos que:
        <ul>
            <li>El < div> con clase "arriba" ocupe el 40% del alto del viewport</li>
            <li>El < div> con clase "abajo" ocupe el alto restante, de forma tal que ambos ocupen el 100% del alto del viewport</li>
            <li>Ambos ocupen el 100% del ancho del body</li>
        </ul>
    </p>

    <section>
        <div class="arriba">
            <p>ARRIBA</p>
        </div>
        
        <div class="abajo">
            <p>ABAJO</p>
        </div>
    </section>

    
</body>
</html>