<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento HTML</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h4>Soy un h4</h4>
    <h1>El título de nuestro documento</h1>
    <h2>Un subtítulo cualquiera</h2>

    <img src="/images/leia2.jpg" alt="Leia" width="320">

    <strong>Esto es otro texto en negrita</strong>

    <p>Lorem ipsum dolor sit amet <strong>Esto es un texto en negrita</strong> consectetur adipisicing elit. Ratione nostrum quos accusantium cumque assumenda, modi, eum optio soluta minima natus exercitationem quas dicta, quasi corporis qui eos reiciendis commodi quod!</p>
    
    <p class="parrafo-destacado">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos aliquid, dolorem placeat totam incidunt beatae commodi laborum deleniti, blanditiis nostrum ducimus ipsam numquam temporibus. Sit aspernatur deleniti accusamus incidunt dolorum!</p>
    
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>

    <ul>
        <li>Item A</li>
        <li>Item B</li>
        <li>Item C</li>
    </ul>

    <a href="https://www.google.com/" target="_blank">Google</a>
    
</body>
</html>