<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body class="e2">
    <ul id="main-navbar">
      <li><a href="alert-success" >Soy un Anchor</a></li>
      <li><a href="alert-danger" >Soy un Anchor</a></li>
      <li><a href="" >Soy un Anchor</a></li>
      <li><a href="alert-danger" >Soy un Anchor</a></li>
    </ul>
    <div class="container2">
      <h2 class="subtitle">Hola! Soy un subtitulo</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p>Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate.</p>
      <p>Voluptatum ducimus voluptates voluptas?</p>
      <img src="https://cdn.dribbble.com/users/760347/screenshots/7341673/media/b5af68cdf397db3063f89e5b466aab11.gif" id="main-image" alt="main-image" width="300">
    </div>

  </body>
  <script src="/javascripts/scriptE2.js"></script>  
</html>
