<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div>
      <h1>Hacia la clase en vivo</h1>
    </div>
    <h3>Clases de css con javascript</h3>
    <ul>
      <li>
        <a href="/1">Ejercicio 1</a>
        <h3>Desafío: ¡ups cometimos un error!</h3>
          <p>
            Nos dimos cuenta que dentro del documento HTML, un título quedó con errores de ortografía. Actualmente dice: Vienbenidos a mi zitio Wet.
          </p>
          <p>
          Nuestra misión será ajustar el texto de este título y corregir este "horror" ortográfico. Tengamos presente que el título tiene el nombre de clase "title" y lo queremos guardar dentro de la variable "horrorOrtografico". Adicionalmente esperamos que las palabras “sitio web” queden en cursiva <strong>(&lt;em&gt;)</strong>.
          </p>
          <p>
          Completemos el siguiente archivo:
          </p>
      </li>
      <li>
        <a href="/2">Ejercicio 2</a>
        <h3>Desafío: Capturando elementos del documento</h3>
        <p>La estructura del documento HTML tiene varios elementos de los cuales nos interesan puntualmente los siguientes:
          </p>
          <p>
          Un <strong>(&lt;h2&gt;)</strong> con clase "subtitle", que debemos guardar en una variable llamada "theSubtitle".
          </p>
          <p>
          Todos los <strong>(&lt;p&gt;)</strong> presentes en el documento, que debemos guardar en una variable llamada "paragraphs".
          </p>
          <p>
          Todas las<strong>(&lt;a&gt;)</strong> dentro de la lista con id "main-navbar", que debemos guardar en una variable llamada "navAnchors".
          </p>
          <p>
          Una imagen con id "main-image", que debemos guardar en una variable llamada "mainImage".
          </p>
          <p>
          Nuestra misión será entonces completar el archivo front.js que vemos a continuación:
          </p>
      </li>
      <li>
        <a href="/3">Ejercicio 3</a>
        <h3>Desafío: ¡Cuidado con la clase!</h3>
          <p>
            Hasta el momento nuestro trabajo ha sido bastante bueno, solo nos queda una cosa por realizar.
          </p>
          <p>
            Tenemos un listado de items <strong>(&lt;li&gt;)</strong> y sabemos que a algunos de ellos se les asignó un nombre de clase que no debería estar ahí. El nombre de clase errado es: alert-danger. Y lo que necesitamos es remover este nombre de clase y asignar el correcto que es: alert-success.
          </p>
          <p>
            Importante: no todos los <strong>(&lt;li&gt;)</strong> tienen este nombre de clase errado, por lo que antes de aplicar el nombre de clase correcto, necesitamos saber si ese <strong>(&lt;li&gt;)</strong> tiene o no el nombre de clase alert-danger.
          </p>
          <p>
            Tengamos presente que estos elementos <strong>(&lt;li&gt;)</strong> se encuentran dentro de un <strong>(&lt;ul&gt;)</strong> con el ID cont01.
          </p>
          <p>
            Completemos el siguiente archivo:
          </p>
      </li>
    </ul>
  </body>
  <script src="/javascripts/script.js"></script>  
</html>
