<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/javascripts/script.js"></script>
  </head>
  <body>
    <h1>Javascript Front</h1>
    <h3>Agregando contenido</h3>
  </body>
</html>
