<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div>
      <h1>clases de css con javascript</h2>
    </div>
  </body>
  <script src="/javascripts/script.js"></script>  
</html>
