<!DOCTYPE html>
<html>
  <head>
    <title>Clase en Vivo 26</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="<%= locals && locals.bkg ? bkg : ' '  %>">
    <h2> Saludos </h2>
    <span>
        <%= locals && locals.msg ? `Hola ${msg.name}, gracias por visitarnos`: '' %>
    </span>
    <div class="form-field">
      <a href="/">
        <button type="submit">Volver</button>
      </a>
    </div>
  </body>
</html>
