<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/javascripts/scriptE1.js"></script>
  </head>
  <body>
    <section>
      <h1>Clase 40 - Pedidos asincrónicos con JavaScript</h1>
      <h2>Fetch</h2>
    </section>
    <section>
        <h3>Vamos a usar FETCH por GET</h3>
        <p>Es hora de poner en práctica lo visto hasta ahora. Si bien parece que usar fetch es sencillo, veamos de hacerlo al menos una vez.</p>
        <p>Para eso vamos a tener que: </p>
        <ol>
          <li>
            Escribir la función de un fetch que ejecute un GET en la URL: 'https://api.chucknorris.io/jokes/random'.
          </li>
          <li>
            En el primer then, retornar el JSON de lo que recibimos por parámetro.
          </li>
          <li>
            En el segundo then, hay que imprimir por consola lo que recibe esa función por parámetro.
          </li>
        </ol>
    </section>
    <section>
      <article>
        <p>----------------------------------------------------------------------------------------------------------------------------------------</p>
        <h3>Here's your Chuck Norris joke</h3>
        <p id="joke"></p>
        <p>----------------------------------------------------------------------------------------------------------------------------------------</
      </article>
    </section>
  </body>
</html>
