<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div>
      <h1>Clase 40 - Pedidos asincrónicos con JavaScript</h1>
      <h2>Fetch</h2>
    </div>
    <ul>
      <li>
        <a href="/1">Ejercicio 1</a>
        <h3>Vamos a usar FETCH por GET</h3>
          <p>Es hora de poner en práctica lo visto hasta ahora. Si bien parece que usar fetch es sencillo, veamos de hacerlo al menos una vez.</p>
          <p>Para eso vamos a tener que: </p>
          <ol>
            <li>
              Escribir la función de un fetch que ejecute un GET en la URL: 'https://api.chucknorris.io/jokes/random'.
            </li>
            <li>
              En el primer then, retornar el JSON de lo que recibimos por parámetro.
            </li>
            <li>
              En el segundo then, hay que imprimir por consola lo que recibe esa función por parámetro.
            </li>
          </ol>
      </li>
    </ul>
  </body>
</html>
