<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://bit.do/blend-css">
    <title>Incluyendo un archivo CSS</title>
</head>
<body>
    <h1>Incluyendo un archivo CSS</h1>

    <div class="container">
        <div class="jumbotron">
            <h1>¡Hola Mundo!</h1>
            <button class="btn btn-default">Continuar</button>
        </div>
    </div>
    
    <a href="/">
        <button>Volver</button>
    </a>
</body>
</html>