<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>2 - Introducción a CSS</title>
</head>
<body>
    <article>
        <a href="/primerSelector">
            <h2>Primer selector</h2>
        </a>
        
        <h3>¡Hora de escribir CSS!</h3>
        
        <p>Vamos a modificar el estilo de una estructura HTML ya definida usando código CSS. Debemos escribir, en el archivo style.css, un selector que afecte a TODAS las etiquetas <p> con la regla color:red.</p>
    </article>

    <article>
        <a href="/masSelectores">
            <h2>Más selectores</h2>
        </a>
        
        <h3>Sigamos escribiendo selectores de CSS para modificar una estructura HTML ya definida.</h3>
        <p>En este caso, vamos a crear tres selectores en los cuales deberemos escribir las reglas ya definidas:
            <ul>
                <li>Un selector que afecte a todas las etiquetas < H3 > con la regla color:blue</li>
                <li>Un selector que afecte a aquellas etiquetas con clase negrita con la regla font-weight:bold</li>
                <li>Un selector que afecte a aquella etiqueta con id gigante con la regla font-size:40px</li>
            </ul>
        </p>
    </article>

    <article>
        <a href="/atributoClass">
            <h2>Atributo class</h2>
        </a>
        
        <h3>Para este ejercicio contamos con una estructura HTML y un archivo CSS con tres reglas ya definidas, pero de momento ninguna etiqueta tiene asignada alguna de esas clases o id.</h3>
        
        <p>Nuestro trabajo será utilizar los atributos class y id para que esas reglas afecten a las etiquetas HTML y lograr:
            <ul>
                <li>que el encabezado principal sea dorado.</li>
                <li>que los encabezados que contienen nombres de productos estén en mayúscula.
                </li>
                <li>que el texto "¡Contactanos vía whatsapp!" aparezca con fondo verde y letra blanca.
                </li>
            </ul>
        </p>
    </article>

    <article>
        <a href="/css">
            <h2>Incluyendo un archivo CSS</h2>
        </a>
        
        <h3>Démosle el toque final:</h3>
        <p>
            Tenemos una estructura HTML y un CSS ya definidos... ¡solo falta unirlos! Dejamos la URL del CSS para vincular los dos archivos: https://bit.do/blend-css
        npm syt</p>
    </article>
</body>
</html>