<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Más selectores</title>
</head>
<body>
    <h1>Más selectores</h1>
    <h2 id="gigante">Desarollo Web Full-Stack</h2>
    
    <h3>HTML5</h3>
    <p class="negrita">Descripción</p>
    <P>Estructura y maquetado</P>
    
    <h3>CSS</h3>
    <p class="negrita">Descripción</p>
    <p>Estilos y apariencia</p>
    
    <h3>JS</h3>
    <p class="negrita">Descripción</p>
    <p>Interacción y dinamismo</p>

    <a href="/">
        <button>Volver</button>
    </a>
</body>
</html>