/* Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; 

Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

*/
*{

    box-sizing: border-box;
} 

body{
    background-color: #ebebeb;
    font-family: 'roboto',Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #03264C;
}
/* Estilos HEADER */

header{
    background-color: #EAC926;
    padding: 20px;
}

.logo{
    width: 150px;
    margin: 14px;
}

.info-header{
    font-weight: 400;
    text-align: center;
}

.burger-menu{
    background-color: #03264C;
    color: #ebebeb;
    display: block;
    width: 35px;
    padding: 4px;
    font-size: 20px;
    margin: auto;
    text-align: center;
    border-radius: 7px;
}

.main-navbar{
    display: none;
}

.main-navbar ul{
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

.main-navbar a{
    text-decoration: none;
    color: #03264C;
    padding: 1px 0;
    font-size: 15px;
    display: inline-block;
}

.main-navbar i{
    padding: 0 3px;
}

@media (min-width:768px){
    .main-header-top{
        display: flex;
        justify-content: space-between;
    }
    .info-header{
        max-width: 210px;
        text-align: right;
    }
    .burger-menu{
        display: none;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 0 3px;
    }
}
