<%- include('partials/head') -%>
  <body>
    <%- include('partials/header') -%>
    <h1><%= data.title %></h1>
    <p>Bienvenidos a <%= data.title %></p>
    <br>
    <p><a href="/movies">Listado de Películas</a></p>
    <p><a href="/genres">Listado de Géneros</a></p>
    <p><a href="/actors">Listado de Actores</a></p>
  </body>
</html>
