<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>3 - Ejes</title>
</head>
<body>
    <h1>4 - Estructura básica</h1>
    
    <article>
        <a href="/disponiendo-uls">
            <h2>Disponiendo UL's</h2>
        </a>
        
        <h3>Veamos el alcance que tiene Flexbox. </h3>
        
        <p>Debemos convertir al < ul> con clase "nav-bar" en un contenedor flex para que sus elementos se dispongan uno al lado del otro.</p>

        <h3>Dejamos una imagen de cómo se ve el sitio de momento:</h3>
        <img src="/images/navegador.png" alt="navegador">
    </article>

    <article>
        <a href="/respetando-medidas">
            <h2>Respetando medidas en el contenedor</h2>
        </a>
        
        <h3>En este ejercicio contamos con una estructura de seis cajas definidas en el index.html y algunas reglas de CSS declaradas por detrás.</h3>
            
        <p>Queremos que el < div> con clase "contenedor" se convierta en un flex-container. Pero atención: cada una de las cajas ya tiene un ancho definido y queremos que el contenedor respete ese ancho.
        </p>
        
        <h3>Deberemos asignarle las propiedades necesarias a la clase "contenedor" para poder lograr ese objetivo.</h3>
        <h3>Dejamos una imagen de cómo se ve el sitio de momento:</h3>
        <img src="/images/navegador2.png" alt="navegador">
    </article>

</body>
</html>